header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 4px solid rgb(92,8,8);
  z-index: 999;
  background: white;
}
.app.dark header {
  background-color: var(--color-bg-dark);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
header .logo h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff4d4d;
  text-transform: capitalize;
  margin: 10px 0;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
  margin-left: 2rem;
}
header .header-controls {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}
header, .header-controls input[type="text"] {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 0.95rem;
  transition: all var(--transition-speed) ease;
}
header, .header-controls input[type="text"]:focus {
  border-color: var(--color-accent);
  box-shadow: 0 0 8px rgba(255, 77, 77, 0.2);
}
header .header-controls select {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 0.95rem;
  transition: all var(--transition-speed) ease;
}
header .header-controls select:focus {
  border-color: var(--color-accent);
  box-shadow: 0 0 8px rgba(255, 77, 77, 0.2);
}
header .header-controls label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.95rem;
  margin-right: 50px;
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px;
    height: auto;
    min-height: var(--header-height);
    border: none;
    border-bottom: 2px solid #ff4d4d;
  }
  header .logo h1 {
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  header .header-controls {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 100%;
    align-items: stretch;
    margin-right: 0;
  }
  header .header-controls input[type="text"],
  header .header-controls select {
    width: 50%;
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-top: 0;
  }
  header .header-controls label {
    margin-right: 0px;
    font-size: 0.92rem;
  }
}
